form{
    background-color: #d7f3d2;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    width: 100%;
}

select{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    appearance: none;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f13583;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #3085f4;
}