.user-info{
    display: flex;
/*자식 요소들을 가로로 정렬*/
 align-items: center; /*새로중앙정렬*/
    gap: 10px; /* 아바타 이미지와 이름 사이에 간격 */
    margin-bottom: 8px; /*아래 바깥쪽여백*/

}

.user-info-name{
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}